fastapi
streamlit
psycopg2-binary
pgvector
sentence-transformers
xgboost
shap
fpdf2
ollama
sqlalchemy
uvicorn
python-dotenv
groq
apscheduler
httpx
python-docx
pdfplumber
pypdf
scikit-learn
imbalanced-learn
plotly
pandas
numpy
